<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My-Harvest</title>
    <link rel="stylesheet" href="../static/css_tem/navbar.css" />
</head>

<body>
    <div class ="topnav">
        <a class ="active" href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#guidelines">Guidelines</a>
        <a href="#submintHarvest">Submit your Harvest</a>
        <a href="#faqs">FAQs</a>
        <a href="#news">NEWS</a>
        <a href="#publications">Publications</a>
        <a href="#team">Team</a>
        <a href="#contact">Contact</a>
    </div>
</body>
</html>